@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Oswald);.content-wrapper {
  background: #f4f4f4;
}

.turn-box {
  padding: 15px;
  border-radius: 8px;
  height: auto;
  -webkit-box-shadow: 0px 0px 1px #999;
          box-shadow: 0px 0px 1px #999;
}

.login-page {
  background-repeat: no-repeat no-repeat;
  background: url("/images/lg_login_fundo.png");
  background-size: cover;
}

@media only screen and (min-width: 1441px) {
  .content-wrapper {
    margin: 0 auto;
    width: 1052px;
  }

  .wrapper {
    background-color: #f4f4f4 !important;
  }
}

.table-collapse {
  width: 1%;
  white-space: nowrap;
}

.box-action {
  height: 108px;
  width: 100%;
  padding: 18px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #ccc;
  border-bottom: 10px solid #AFD234;
}

/*
 * Buttons
 */

/* Variables + Mixins */

#buttons * {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#buttons {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.button {
  padding: 10px 0;
  font-size: 1em;
  font-family: open sans;
  text-align: center;
}

.button .button-top h4:before,
.button-inner,
.button-inner:hover .button-bottom {
  background-color: #B0D235;
}

.button .button-top h4:before,
.button-take,
.button-take:hover .button-bottom {
  background-color: #00a65a;
}

.button .button-top h4:before,
.button-show,
.button-show:hover .button-bottom {
  background-color: #3c8dbc;
}

.button .button-top h4:before,
.button-edit,
.button-edit:hover .button-bottom {
  background-color: #f39c12;
}

.button .button-inner {
  position: relative;
  min-height: 245px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.button .button-top {
  width: 100%;
  padding: 55px 0;
  position: absolute;
  top: 0px;
  background-color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button .button-bottom {
  width: 100%;
  position: absolute;
  bottom: -310px;
  height: 100%;
  padding: 20px 15px 20px 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button .button-top h4 {
  margin-top: 25px;
  position: relative;
  font-size: 1.3em;
  font-family: oswald;
  font-weight: 500;
  color: #333;
}

.button .button-bottom h4 {
  font-family: oswald;
  font-weight: 400;
  color: #fff;
}

.button .button-top h4:before {
  content: "";
  margin: -2px auto;
  position: absolute;
  left: 0;
  right: 0;
  top: -18px;
  display: block;
  height: 2px;
  width: 40px;
  background-color: #333;
}

.button a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

/* FA Icon */

.button .fa {
  font-size: 3.5em;
  line-height: 1.3em;
  color: #333;
}

.button .button-bottom .fa {
  font-size: 38px;
  line-height: 50px;
}

.button .button-bottom h4 {
  margin: 15px 0px 17px;
  color: #fff;
}

.button .button-bottom p {
  padding: 0px 5px;
  font-size: 14px;
  line-height: 1.5em;
  color: #fff;
}

/* Hover Styles */

.button .button-inner:hover .button-bottom {
  bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.button .button-inner:hover .button-top {
  top: -200px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* Media Queries */

@media all and (max-width: 951px) and (min-width: 701px) {
  .button {
    width: 48%;
  }

  .button:nth-child(-n+2) {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 700px) and (min-width: 0px) {
  .button {
    width: 100%;
  }

  .button:nth-child(-n+3) {
    margin-bottom: 10px;
  }
}

