* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f5923b57;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.layer-1 {
  -webkit-animation: parallax_fg linear 20s infinite both;
          animation: parallax_fg linear 20s infinite both;
  background: url(/images/1.png?9591c410148e6883727c5339fd1c02cd) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 136px;
}

.layer-2 {
  -webkit-animation: parallax_fg linear 30s infinite both;
          animation: parallax_fg linear 30s infinite both;
  background: url(/images/2.png?1a4c12772b504b067cbc7a3580f2f70f) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 145px;
}

.layer-3 {
  -webkit-animation: parallax_fg linear 55s infinite both;
          animation: parallax_fg linear 55s infinite both;
  background: url(/images/3.png?e85f733f2d2dc83cc05f07473cf4b6fa) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 158px;
}

.layer-4 {
  -webkit-animation: parallax_fg linear 75s infinite both;
          animation: parallax_fg linear 75s infinite both;
  background: url(/images/4.png?7c6f4d23af8ec53b8c8ffb371949cd07) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 468px;
}

.layer-5 {
  -webkit-animation: parallax_fg linear 95s infinite both;
          animation: parallax_fg linear 95s infinite both;
  background: url(/images/5.png?5f7b4cc1e7df20f18b54c76021275d5e) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 311px;
}

.layer-6 {
  -webkit-animation: parallax_fg linear 120s infinite both;
          animation: parallax_fg linear 120s infinite both;
  background: url(/images/6.png?d23b6a71e8fbca743e53dcb4b1e7e5cc) 0 100% repeat-x;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 222px;
}

.bike-1,
.bike-2 {
  background: url(/images/bike.png?cdcb2fa070405f559f776a626a4d4318) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75px;
  -webkit-animation: parallax_bike linear 10s infinite both;
          animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  -webkit-animation: parallax_bike linear 15s infinite both;
          animation: parallax_bike linear 15s infinite both;
}

@-webkit-keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }

  100% {
    background-position: 550px 100%;
  }
}

@keyframes parallax_fg {
  0% {
    background-position: 2765px 100%;
  }

  100% {
    background-position: 550px 100%;
  }
}

@-webkit-keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }

  100% {
    background-position: 2000px 100%;
  }
}

@keyframes parallax_bike {
  0% {
    background-position: -300px 100%;
  }

  100% {
    background-position: 2000px 100%;
  }
}

.wrapper {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.lg-login-box {
  background: rgba(255, 255, 255, 0.9);
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px #bbb;
          box-shadow: 0px 0px 5px #bbb;
}

