/* Global */

body {
  background: #f9f9f9;
}

img {
  max-width: 100%;
}

/* Page Header */

.page-header {
  background: #fff;
  padding: 20px 40px;
  border-top: 4px solid #3399cc;
  color: #999;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.page-subtitle {
  text-transform: uppercase;
}

.page-header h3 {
  line-height: 0.88rem;
  color: #000;
}

