* {
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
}

.hero {
  width: 100%;
  height:100%;
  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #f5923b57;
  transform: translate3d(0,0,0); 
}

@each $index, $speed, $height in (1, 20s, 136px),
                                 (2, 30s, 145px),
                                 (3, 55s, 158px),
                                 (4, 75s, 468px),
                                 (5, 95s, 311px),
                                 (6, 120s, 222px) {
  .layer-#{$index} {
    animation: parallax_fg linear $speed infinite both;
    background:  url(../images/login/#{$index}.png) 0 100% repeat-x;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:  auto $height;
  }
}

.bike-1, .bike-2 {
  background:  url(../images/login/bike.png) 0 100% no-repeat;
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:  auto 75px;
  animation: parallax_bike linear 10s infinite both;
}

.bike-2 {
  animation: parallax_bike linear 15s infinite both;
}

@keyframes parallax_fg {  
  0% { background-position: 2765px 100%;} 
  100% {background-position: 550px 100%; } 
}
@keyframes parallax_bike {  
  0% { background-position: -300px 100%;} 
  100% {background-position: 2000px 100%; } 
}

// LOGIN ADMINLTE

.wrapper {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.lg-login-box {
  background: rgba(255, 255, 255, 0.9);
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  border-radius:15px;
  box-shadow: 0px 0px 5px #bbb;
}