.paper {
  position: relative;
  max-width: 800px;
  color: #3a362b;
  border-radius: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 5px;
  background: rgba(204, 205, 191, 1);
  background: -moz-linear-gradient(
    top,
    rgba(204, 205, 191, 1) 0%,
    rgba(226, 222, 210, 1) 20%,
    rgba(226, 222, 210, 1) 67%,
    rgba(204, 205, 191, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(204, 205, 191, 1)),
    color-stop(20%, rgba(226, 222, 210, 1)),
    color-stop(67%, rgba(226, 222, 210, 1)),
    color-stop(100%, rgba(204, 205, 191, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(204, 205, 191, 1) 0%,
    rgba(226, 222, 210, 1) 20%,
    rgba(226, 222, 210, 1) 67%,
    rgba(204, 205, 191, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(204, 205, 191, 1) 0%,
    rgba(226, 222, 210, 1) 20%,
    rgba(226, 222, 210, 1) 67%,
    rgba(204, 205, 191, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(204, 205, 191, 1) 0%,
    rgba(226, 222, 210, 1) 20%,
    rgba(226, 222, 210, 1) 67%,
    rgba(204, 205, 191, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(204, 205, 191, 1) 0%,
    rgba(226, 222, 210, 1) 20%,
    rgba(226, 222, 210, 1) 67%,
    rgba(204, 205, 191, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#cccdbf",
      endColorstr="#cccdbf",
      GradientType=0
    );
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.75);
}

.titleDiv {
  position: relative;
  background-image: url("../images/logo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-size: 3em;
  text-align: center;
  font-family: "Gravitas One", cursive;
  margin-bottom: 10px;
  line-height: 2;
  text-shadow: 4px 3px 0px #cccdbf, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.topHr {
  border: 3px solid #3a362b;
  margin-top: 0;
  margin-bottom: 3px;
}

.bottomHr {
  border: 1px solid #3a362b;
  margin: 0;
}

.aboutTitle {
  position: relative;
  text-transform: uppercase;
  font-family: "News Cycle", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.vol {
  position: absolute;
  left: 5%;
}

.date {
  text-align: center;
}

.price {
  position: absolute;
  right: 5%;
  top: 0;
}

.dateHr {
  border: 2px solid #3a362b;
  margin-top: 2px;
  margin-bottom: 0;
}

.content-news {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  padding: 5px;
}

.storyTitle {
  font-family: "Oswald", sans-serif;
  padding: 0 5%;
  margin: 0;
  font-size: 20px;
}

.storyTitleX5, .byX5, .storyX5{
  padding: 0 !important;
}

.storyTitle1 {
  text-align: center;
  font-size: 3em;
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0 5%;
}

.storyTitle2 {
  font-size: 2.5em;
}

.storyTitle3 {
  font-size: 24px;
}

.weatherTitle {
  font-size: 30px;
}

.story {
  padding: 0 5%;
  font-size: 14px;
}

.by {
  font-size: 11px;
  padding: 0 5%;
  font-weight: bold;
  text-transform: uppercase;
}

.content-news .image {
  display: block;
  width: 90%;
  margin: 0 auto;
  border: solid 2px black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  filter: grayscale(50%);
}

.image3 {
  margin-top: 10px;
}

.item1 {
  grid-column: 1 / span 3;
  border-bottom: 1px solid #474342;
}

.item2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 2 / 3;
  border-left: 1px solid #474342;
}

#item4 {
  border-right: 1px solid #474342;
}

#item6 {
  grid-column: 3;
  grid-row: 3 / 1;
  border-left: 1px solid #474342;
}

#item7 {
  grid-column: 2 / span 2;
  border-top: 1px solid #474342;
}

#item8 {
  grid-column: 1 / span 1;
  grid-row: 4;
  border-top: 1px solid #474342;
  border-right: 1px solid #474342;
  text-align: center;
}

.temp,
.conditions {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 768px) {
  .paper {
    width: 90vw;
    margin: none;
  }

  .aboutTitle {
    font-size: 12px;
  }

  .title {
    line-height: 1;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .aboutTitle {
    font-size: 10px;
  }

  .content {
    grid-template-rows: repeat(min-content, 1fr);
  }

  #item1,
  #item2,
  #item3,
  #item4,
  #item5,
  #item6,
  #item7,
  #item8 {
    grid-column: 1 / -1;
    grid-row: span 1;
    border: none;
  }
}
